<!DOCTYPE html>
<html>
<head>
	<title>SCNG App</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="stylesheet" type="text/css" href="../../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"> 
</head>
<body>
	<nav>
		<div>
			<div id="nav-left">
				<a class="purp" href="/">SCNG App</a>
			</div>
			<div id="nav-right">
				<ul id="topnav">
					<li>
						<a class="purp2" href="/updates">Prenesi</a>
					</li>
					<li>
						<a class="purp2" href="/report">Povratni info</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section>
		{{{ body }}}
	</section>
</body>
</html>
