<div id="reportdiv">
	<h3 class="title-white" style="margin-top: 100px">{{ msg }}</h3>
	<i style="font-size: 15px">Prosimo, da nam pošiljate kakršne koli <a style="text-decoration: none; color: #DAFBFF" href="/report">povratne informacije</a>.</i>
	<div style="margin-top: 10px">
					<!--h3 class="title-white">Prenesi aplikacijo tukaj</h3-->
		<form action="/downloadapp" method="get">
			<input id="download" type="submit" name="" value="Prenesi">
		</form>
	</div>
</div>