<div class="container">
	<div id="container">
		<div id="main">
			<h1 class="title-white">Mobilna Aplikacija Šolskega Centra Nova Gorica</h1>
			<h4 id="beta" class="title-white">(beta verzija)</h4>
			<p style="margin-top: 18px;" class="purp2">V namen laŽjega in hitrejŠega vpogleda v šolskega urnika in malice smo razvili aplikacijo, ki prebere podatke iz šolske strani in jih izpiše uporabniku v uporabniku prijazni obliki na mobilnem telefonu.</p>
		</div>
				<!--div id="main-right">
					<h3 class="title-white">Prenesi aplikacijo tukaj</h3>
					<form action="/download" method="get">
						<input id="download" type="submit" name="" value="Prenesi">
					</form>
				</div-->
	</div>
</div>