<section>
	<div id="reportdiv">
		<h3 class="title-white" style="margin-top: 100px">{{ msg }}</h3>
		<h1>{{ message }}</h1>
		<h2>{{ error.status }}</h2>
		<pre> {{ error.stack }}</pre>
	</div>
</section>